.button-class {
    background-color: #ffffff;
    /* makes button a bit har to see so i removed*/
    /* border: none; */
    /* it had white font on white background*/
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* this defines the styles */
#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    display: grid;
    text-align: center;
}

/* then this overrides to hide */
#modal-container {
    display: none;
}

/* this should be separate so that is-visible is only making visible */
#modal-container.is-visible {
    /* CSS for modal container - add your own desired CSS styles here */
    display: block;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
}
  
.modal-close {
    float: right;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}
  
.modal h1 {
    margin-top: 0;
}
  
.modal p {
    margin-bottom: 0;
}